<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guesthouse Login</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="login-body">

<h1 class="welcome-title">The Guesthouse</h1>


<div class="login-container">
    <h2>Login</h2>
    
    <form th:action="@{/login}" method="post">
        <label>Email</label>
        <input type="text" name="email" required>
        
        <label>Password</label>
        <input type="password" name="password" required>
        
        <button type="submit">Login</button>
        
        <p th:if="${error}" class="error">Invalid email or password</p>
    </form>
    
    <p class="switch-link">
        Don´t have an account? <a href="/register">Create one</a>
    </p>
</div>

</body>
</html>