# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
**/application.properties

CustomerService/src/main/resources/application.properties
ReviewService/src/main/resources/application.properties
booking-service/src/main/resources/application.properties
